html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* font-family: 'Dosis', sans-serif;     */
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
}